<% if @articles.present? %>
  <p>公開済の記事数: <%= @articles.count %>件</p>
<% else %>
  <p>公開済の記事はありません</p>
<% end %>

<% if @yesterday_articles.present? %>
  <p>昨日公開された記事数: <%= @yesterday_articles.count %>件</p>
  <% @yesterday_articles.each do |yesterday_article| %>
    <p>タイトル: <%= yesterday_article.title %></p>
  <% end %>
<% else %>
  <p>昨日公開された記事はありません</p>
<% end %>
